// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

$color-primario: orange;
$color-secundario: white;
$color-terciario: coral;
