@charset 'utf-8';

//utilities
@import "./utilities/colors";
@import "./utilities/responsive";
@import "./utilities/fonts";
@import "./utilities/estrellas";

//block - layouts
@import "./block/header";
@import "./block/body";
@import "./block/footer";

//base
@import "./base/typo";
@import "./base/reset";
@import "./base/normalize";


body {
    font-weight: bolder;
    font-family: $fuentePrincipal;
    background-color: black;
    background-image: url(https://www.transparenttextures.com/patterns/asfalt-light.png);
    width: 100%;
    height: 800rem;

    @include movil {
        font-size: 70%;
        height: 90rem;
    }

}

html {
    scroll-behavior: smooth;
}
